
    
.navbar{
    background-color:  black !important;
    color: white;
    
}
.navbar.nav-link{
    color:white !important ;
}
.navbar.navbar-brand{
    color:white !important;
}
footer{
    
    background-color: black;
    border-top: 1px solid black;
    margin-top: 40px ;
    padding-top: 20px;
    color: white;
}
.first-link {
    color: white;
    text-decoration: none;
}
.second-link {
    color: white;
    text-decoration: none;
}
.third-link{
    color: white;
    text-decoration: none;
}
.fourth-link {
    color: white;
    text-decoration: none;
}
.fifth-link{
    color: white;
    text-decoration: none;
}
